<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}"> 
    <title>News Portal</title><hr>
</head>
<body>
    <h1>Welcome TO Our News Portal...</h1><hr>
    <img src="{% static 'images/one.jpg'%}" alt="">

    <ul>
        <li><a href="dev/">Developer News</a></li>
        <li><a href="sports/">Sports News</a></li>
        <li><a href="politics/">Political News</a></li>
    </ul>
</body>
</html>